[submodule "ArduinoI2CDevices_Arduino/src/Arduino-Rotational-Sensor"]
	path = ArduinoI2CDevices_Arduino/src/Arduino-Rotational-Sensor
	url = https://github.tik.uni-stuttgart.de/psomers/Arduino-Rotational-Sensor.git
